div.sticky {
    position: sticky;
    right: 0;
  }

.jcSb{
  justify-content: space-between;
}

.btn {
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 30px;
	box-shadow: 0 4px 10px var(--shadow-color);
	font-weight: 600;
}